<!-- <?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.software.hereisdog.dao.PlaceDao">

    <select id="findByType" resultType="com.software.hereisdog.domain.Place">
        SELECT * FROM places
        WHERE type = #{type}
    </select>

    <insert id="insertPlace" parameterType="com.software.hereisdog.domain.Place">
        INSERT INTO places (
            name, address, description, owner_username, opening_hours, phone_number
        ) VALUES (
            #{name}, #{address}, #{description}, #{ownerUsername}, #{openingHours}, #{phoneNumber}
        )
    </insert>

    <update id="updatePlace" parameterType="com.software.hereisdog.domain.Place">
        UPDATE places
        SET name = #{name},
            address = #{address},
            description = #{description},
            opening_hours = #{openingHours},
            phone_number = #{phoneNumber}
        WHERE owner_username = #{ownerUsername}
    </update>

    <select id="selectPlaceByOwner" parameterType="String" resultType="com.software.hereisdog.domain.Place">
        SELECT id, name, address, description, owner_username, opening_hours, phone_number
        FROM places
        WHERE owner_username = #{ownerUsername}
    </select>

</mapper>
-->
