<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.software.hereisdog.dao.mybatis.mapper.UserMapper">

    <insert id="insertCustomer" parameterType="com.software.hereisdog.domain.Customer">
        INSERT INTO CUSTOMER (username, password, nickname, email)
        VALUES (#{username}, #{password}, #{nickname}, #{email})
    </insert>

    <insert id="insertOwner" parameterType="com.software.hereisdog.domain.Owner">
        INSERT INTO OWNER (username, password, nickname, email, businessNumber)
        VALUES (#{username}, #{password}, #{nickname}, #{email}, #{businessNumber})
    </insert>

</mapper>
